@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bodyBgColor: rgb(32, 33, 36);
    --headerLinksColor: rgb(232, 234, 237);
    --searchBarBorderColor: rgb(148, 152, 156);
    --searchBarHoverBgColor: rgb(48, 48, 51);
    --buttonsBgColor: rgb(48, 48, 51);
    --buttonsColor: rgb(232, 234, 237);
    --footerLinksColor: rgb(148, 152, 156);
    --footerBgColor: rgb(23, 23, 23);
}

/* icons */
/* for app icon and share icon */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 200,
    'opsz' 40
}
/* for search icon */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
/* for the reset search button */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 200,
    'opsz' 40
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bodyBgColor);
}
#header-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
}
#header-links > a {
    color: var(--headerLinksColor);
    font-size: 0.8rem;
    text-transform: capitalize;
    font-weight: 500;
}
.header-links-link {
    text-decoration: none;
}
.header-links-link:hover {
    text-decoration: underline;
}
#profile-icon {
    width: 30px;
    border-radius: 10000px;
}

#search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15vh;
}
#search-bar-container > #logo-container > #google-logo {
    width: 25vw;
}
#share-icon {
    text-decoration: none;
    background-color: var(--buttonsBgColor);
    color: var(--buttonsColor);
    padding: 5px;
    border-radius: 5px;
}

#search-field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#search-bar {
    border: none;
    outline: none;
    background-color: inherit;
    border: 1px solid var(--searchBarBorderColor);
    z-index: 0;
}
#search-field > span {
    z-index: 1;
}